@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans 3 Variable", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
